body{
  margin: auto 0;
  font-size: 16px;

}
.content{
    margin: 0 auto;

}
#map {
  /*border: 1px solid black;*/

}
.header{
  padding: 10px 0px 10px 70px;
}
.header h1{
  display: inline-block;
  font-size: 4em;
  margin:0;
padding:20px 0px;
}
.canvas_patent{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.canvas_map{
  padding: 30px;
  background-image: url("../img/rockfall2.png");
  background-repeat: repeat;
}
canvas{
  display: block;
  background-image: url("../img/grass3.jpg");
  background-repeat: repeat;
}
.square {
  background-color: #e1ffc4;
  width: 80px;
  height: 80px;
  display: inline-block;
/*display: none;*/
}
